{% extends 'homepage/index.html' %} {% block ipv4 %}

<p>
  Un indirizzo IP è un'etichetta numerica che identifica univocamente un
  dispositivo detto host collegato a una rete informatica che utilizza
  l'Internet Protocol come protocollo di rete.<br />
  Viene assegnato a una interfaccia (ad esempio una scheda di rete) che
  identifica l'host di rete.<br />
  Va considerato, infatti, che un host può contenere più di una interfaccia (ad
  esempio un router).<br />
  Gli indirizzi IP vengono suddivisi in classi, per dividere lo spazio di
  indirizzamento IPv4.
</p>
<p>
  An IP address is a numerical label that uniquely identifies a device, called a
  host, connected to a computer network that uses the Internet Protocol as a
  network protocol.<br />
  It is assigned to an interface (e.g. a network card) which identifies the
  network host.<br />
  It should be considered, in fact, that a host can contain more than one
  interface (for example a router).<br />
  IP addresses are divided into classes to divide the IPv4 address space.
</p>

{% endblock %} {% block classi %}

<table align="center">
  <tr>
    <th>Classe&nbsp&nbsp&nbsp</th>
    <th>Bit iniziali&nbsp&nbsp&nbsp</th>
    <th>Inizio intervallo&nbsp&nbsp&nbsp</th>
    <th>Fine intervallo&nbsp&nbsp&nbsp</th>
  </tr>
  <tr>
    <td>A</td>
    <td>0</td>
    <td>0.0.0.0</td>
    <td>127.255.255.255</td>
  </tr>
  <tr>
    <td>B</td>
    <td>10</td>
    <td>128.0.0.0</td>
    <td>191.255.255.255</td>
  </tr>
  <tr>
    <td>C</td>
    <td>110</td>
    <td>192.0.0.0</td>
    <td>223.255.255.255</td>
  </tr>
  <tr>
    <td>D</td>
    <td>1110</td>
    <td>224.0.0.0</td>
    <td>239.255.255.255</td>
  </tr>
  <tr>
    <td>E</td>
    <td>1111</td>
    <td>240.0.0.0</td>
    <td>255.255.255.254</td>
  </tr>
</table>
<br />
<div class="row pb-3">
  <div class="col-sm-12">
    <p class="text-center">
      Inserire un indirizzo IP per ottenere la classe di appartenenza
    </p>
  </div>
</div>
<div class="row pt-12">
  <div class="col-sm-4"></div>
  <div class="text-center col-sm-4">
    <form action="#item-1-1" method="post">
      {% csrf_token%}
      <div class="col-12">
        {{ classi.ip }}
        <br />
        <button name="classe-btn" type="submit" class="btn btn-primary">
          Okay
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 text-center">
    <h4>{{ primo }}</h4>
  </div>
  <div class="col-sm-1"></div>
</div>
<br />
{% endblock %} {% block subnetting %}

<p>
  Una subnet, o sottorete, è una parte della suddivisione di una singola rete
  IP.<br />
  Tale suddivisione è realmente visibile solo dalla parte logica della rete, ciò
  vuol dire che la differenza tra una rete e una sottorete sta nel tipo di
  configurazione di rete che si dà al proprio computer.<br />
  Il processo di subnetting è la divisione di una singola rete in gruppi di
  computer che hanno in comune nell'indirizzo IP un determinato prefisso di
  routing.
</p>
<p>
  A subnet, or subnet, is a part of dividing a single IP network.<br />
  This division is really visible only from the logical part of the network,
  which means that the difference between a network and a subnet lies in the
  type of network configuration that you give to your computer.<br />
  The subnetting process is the division of a single network into groups of
  computers that share a certain routing prefix in the IP address.
</p>
{% endblock %} {% block trova_subnet %}
<div class="row pb-3">
  <div class="col-sm-12">
    <p class="text-center">Inserire un indirizzo IP e una subnet mask</p>
  </div>
</div>
<div class="row pt-12">
  <div class="col-sm-4"></div>
  <div class="text-center col-sm-4">
    <form action="#item-2-1" method="post">
      {% csrf_token %}
      <div class="col-12">
        {% for sub in subnet %} {{ sub }}<br />
        {% endfor %}
        <br />
        <button name="subn-btn" type="submit" class="btn btn-primary">
          Okay
        </button>
        <br />
        <br />
        {% if secondo != 'ERRORE' %} {% for sec in secondo %}
        <h4>{{ sec }}</h4>
        <br />
        {% endfor %} {% else %}
        <h3>{{ secondo }}</h3>
        {% endif %}
      </div>
    </form>
  </div>
  <br />
  {% endblock %} {% block subnet2 %}
  <div class="row pb-3">
    <div class="col-sm-12">
      <p class="text-center">
        Inserire indirizzi IP e il numero di subnet che vuoi creare
      </p>
    </div>
  </div>
  <div class="row pt-12">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-4">
      <form action="#item-2-3" method="post">
        {% csrf_token%}
        <div class="col-12">
          {% for sub in subnet2 %} {{ sub }}<br />
          {% endfor %}
          <br />
          <button name="subn2-btn" type="submit" class="btn btn-primary">
            Okay
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-10 text-center">
    <h4>{{ quinto }}</h4>
  </div>
  <div class="col-sm-1"></div>
  <br />
  {% endblock %} {% block bitwise %}
  <div class="row pb-3">
    <div class="col-sm-12">
      <p class="text-center">Inserire due indirizzi IP e la subnet mask</p>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-4">
      <form action="#item-2-2" method="post">
        {% csrf_token%}
        <div class="col-12">
          {% for bit in bitwise %} {{ bit }}<br />
          {% endfor %}
          <br />
          <button name="bitwise-btn" type="submit" class="btn btn-primary">
            Okay
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <h4>{{ terzo }}</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br />
  {% endblock %} {% block intro_cidr %}

  <p>
    Il CIDR è uno schema di indirizzamento che sostituisce lo schema classful
    secondo il quale tutti gli indirizzi IP appartengono ad una specifica classe
    (classe A, B e C).<br />
    Questo nuovo schema di indirizzamento consente una migliore gestione degli
    indirizzi di rete e permette, in un indirizzo IP, di definire quale parte
    indichi la sotto rete e quale gli host.<br />
    La notazione usata per esprimere indirizzi CIDR è la seguente: a.b.c.d/x,
    dove x è il numero di bit (contati partendo dal più significativo a
    sinistra) che compongono la parte di indirizzo della rete. I rimanenti
    y=(32-x) bit consentono di calcolare il numero di host della sottorete pari
    a (2^{y}-2).<br />
    Il (-2) è dovuto al fatto che il primo e l'ultimo indirizzo di ogni rete non
    sono assegnabili ad alcun host, in quanto riservati rispettivamente come
    indirizzo della rete in generale e come indirizzo di broadcast.
  </p>
  <p>
    The CIDR is an addressing scheme that replaces the classful scheme according
    to which all IP addresses belong to a specific class (class A, B and C).<br />
    This new addressing scheme allows a better management of network addresses
    and allows, in an IP address, to define which part indicates the subnet and
    which the hosts.<br />
    The notation used to express CIDR addresses is the following: a.b.c.d / x,
    where x is the number of bits (counted starting from the most significant on
    the left) that make up the address part of the network. The remaining y =
    (32-x) bits allow you to calculate the number of hosts in the subnet equal
    to (2 ^ {y} -2).<br />
    The (-2) is due to the fact that the first and last address of each network
    cannot be assigned to any host, as they are reserved respectively as the
    network address in general and as a broadcast address.
  </p>

  {% endblock %} {% block cidr %}

  <div class="row pb-3">
    <div class="col-sm-12">
      <p class="text-center">
        Inserire l'indirizzo IP e il numero di host da indirizzare
      </p>
    </div>
  </div>
  <div class="row pt-12">
    <div class="col-sm-4"></div>
    <div class="text-center col-sm-4">
      <form action="#item-3-1" method="post">
        {% csrf_token %}
        <div class="col-12">
          {% for cid in cidr %} {{ cid }}<br />
          {% endfor %}
          <br />
          <button name="cidr-btn" type="submit" class="btn btn-primary">
            Okay
          </button>
          <br />
          <br />
          {% if quarto == 'ERRORE' or quarto == 'Non è necessario fare il CIDR' or quarto == 'Non è necessario fare il CIDR per n_host minori di 255' %}
          <h3>{{ quarto}}</h3>
          {% else %}
          {% for qu in quarto %}
          <h4>{{ qu }}</h4>
          {% endfor %} {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
<br />
{% endblock %}